.mce-content-body {
  min-height: 500px;
}

.tox .tox-toolbar, .tox .tox-toolbar__overflow, .tox .tox-toolbar__primary {
  color: var(--color) !important;
  background: var(--bg-secondary) !important;

}
.tox .tox-edit-area__iframe {
  color: var(--color) !important;
  background: var(--bg-secondary) !important;
}

.tox-tinymce {
  border: none !important;
  font-family: 'Montserrat', sans-serif, 'Noto Sans Japanese', -apple-system,
    system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,
   MyYuGothicM, YuGothic, 'Hiragino Kaku Gothic ProN', Meiryo !important;

}
