:root {
  .markdown {
    font-size: 17px;
    line-height: 2rem;

    h1 {
      @apply font-bold;
      font-size: 2rem;
      font-weight: bold;
      padding: 20px 0;
    }
    h2 {
      @apply font-bold;
      font-size: 1.5rem;
      border-radius: 5px;
      margin: 42px 0 21px;
    }
    h3 {
      @apply font-bold;
      font-size: 1.25rem;
      margin: 40px 0 10px;
    }
    h4 {
      @apply font-bold;
      font-size: 18px;
      margin: 40px 0 10px;
      padding: 0 0 0 10px;
    }
    h5 {
      @apply font-bold;
      font-size: 16px;
      margin: 40px 0 10px;
    }

    p {
      @apply break-words mb-5;
      letter-spacing: .01rem;
      text-align: justify;
    }

    /*//////////////////////////////////////////////*/
    /* tags */
    /*//////////////////////////////////////////////*/

    hr {
      height: 1px;
      background-color: #b8bfbe;
      margin: 20px 0;
    }
    em {
      border-bottom: 1px solid var(--color);
      padding: 0 5px;
      font-style: normal;
    }
    strong {
      @apply font-bold;
      padding: 0 5px;
      border-radius: 5px;
    }

    p code,
    li code,
    td code {
      background-color: #d0d8d7;
      font-size: 90%;
      font-style: normal;
      padding: 0 5px;
      border-radius: 3px;
      color: #1b1b1b;
    }
    pre {
      background-color: #282C34 !important;
      border-radius: 0.5rem !important;
      code {
        border-radius: 0.5rem !important;
      }
    }

    /*//////////////////////////////////////////////*/
    /* list */
    /*//////////////////////////////////////////////*/

    ul,
    ol {
      padding: 0 0 0.5em 1.5em;
    }
    ul > li,
    ol > li {
      position: relative;
      list-style: none;
      margin: 5px 0;
    }
    ul > li::after {
      display: block;
      content: "";
      position: absolute;
      top: 0.5em;
      left: -1em;
      width: 6px;
      height: 6px;
      background: var(--color);
      border-radius: 100%;
    }
    ul ul li::after {
      display: block;
      content: "";
      position: absolute;
      top: 0.75em;
      left: -1em;
      width: 6px;
      height: 2px;
      background: var(--color);
    }
    ul ul ul li::after {
      display: block;
      content: "";
      position: absolute;
      top: 0.5em;
      left: -1em;
      width: 6px;
      height: 6px;
      border-right: 2px solid var(--color);
      border-bottom: 2px solid var(--color);
      background-color: inherit;
      border-radius: 0;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    /* arrow */
    ul.arrow > li::after {
      display: block;
      content: "";
      position: absolute;
      top: 0.5em;
      left: -1em;
      width: 6px;
      height: 6px;
      border-right: 2px solid var(--color);
      border-bottom: 2px solid var(--color);
      background-color: inherit;
      border-radius: 0;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    /* check */
    ul.check > li::after {
      display: block;
      content: "";
      position: absolute;
      top: 0.5em;
      left: -1em;
      width: 8px;
      height: 3px;
      border-left: 2px solid var(--color);
      border-bottom: 2px solid var(--color);
      background-color: inherit;
      border-radius: 0;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    /* ol */
    ol > li {
      counter-increment: li;
    }
    ol > li::before {
      content: counter(li);
      display: block;
      position: absolute;
      top: .3em;
      left: -1em;
      color: var(--color);
      font-size: 14px;
      line-height: 1;
      font-weight: bold;
    }

    /*//////////////////////////////////////////////*/
    /* table */
    /*//////////////////////////////////////////////*/

    table {
      font-size: 17px;
      border-collapse: collapse;
      border: 1px solid #c1c7d0 !important;
      margin: 10px 0;
      width: 100%;
    }
    table th {
      padding: 10px;
      font-weight: bold;
      vertical-align: top;
      text-align: left;
      background: #f4f5f7;
      border: 1px solid #c1c7d0 !important;
    }
    table td {
      padding: 10px;
      vertical-align: top;
      border: 1px solid #c1c7d0 !important;
    }

    /* stripe */
    table.stripe tr:nth-child(even) {
      background: #dcdfdf;
    }

    /* dark th */
    table.dark th {
      color: #e5e8e8;
      background: #272b2b;
    }

    /*//////////////////////////////////////////////*/
    /* box */
    /*//////////////////////////////////////////////*/

    .box_gray {
      background: #dcdfdf;
      border: 2px solid #b8bfbe;
      border-radius: 10px;
      margin: 20px 0;
      padding: 1em;
    }

    .box_pink {
      background: #e7d5d5;
      border: 2px solid #d47e7e;
      border-radius: 10px;
      margin: 20px 0;
      padding: 1em;
    }

    .box_pink ul, .box_pink ol {
      padding: 0 0 0 1.5em;
    }
    .box_pink ol > li::before {
      content: counter(li);
      display: block;
      position: absolute;
      top: .3em;
      left: -1em;
      color: #d47e7e;
      line-height: 1;
      font-weight: bold;
    }
    .box_pink ul > li::after {
      display: block;
      content: "";
      position: absolute;
      top: 0.5em;
      left: -1em;
      width: 6px;
      height: 6px;
      background-color: #d47e7e;
      border-radius: 100%;
    }

    .box_gray ul, .box_gray ol {
      padding: 0 0 0 1.5em;
    }
    .box_gray ol > li::before {
      content: counter(li);
      display: block;
      position: absolute;
      top: .3em;
      left: -1em;
      color: #b8bfbe;
      line-height: 1;
      font-weight: bold;
    }
    .box_gray ul > li::after {
      display: block;
      content: "";
      position: absolute;
      top: 0.5em;
      left: -1em;
      width: 6px;
      height: 6px;
      background-color: #b8bfbe;
      border-radius: 100%;
    }
  }
}
