
.markdown {

h1 {
  font-size: 36px;
  font-weight: bold;
  padding: 20px 0;
}
h2 {
  font-size: 22px;
  font-weight: bold;
  background-color: rgba(var(--primary), 1);
  color: #e5e8e8;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 40px 0 10px;
}
h3 {
  font-size: 22px;
  font-weight: bold;
  border-bottom: 3px solid rgba(var(--primary), 1);
  margin: 40px 0 10px;
}
h4 {
  font-size: 18px;
  font-weight: bold;
  border-left: 3px solid rgba(var(--primary), 1);
  margin: 40px 0 10px;
  padding: 0 0 0 10px;
}
h5 {
  font-size: 16px;
  margin: 40px 0 10px;
  font-weight: bold;
}

/*//////////////////////////////////////////////*/
/* tags */
/*//////////////////////////////////////////////*/

hr {
  height: 1px;
  background-color: #b8bfbe;
  margin: 20px 0;
}
em {
  background: linear-gradient(transparent 80%, #e7ff46 80%);
  padding: 0 5px;
  font-style: normal;
}
strong {
  @apply font-bold;
  padding: 0 5px;
  border-radius: 5px;
}
p code,
li code,
td code {
  background-color: #d0d8d7;
  font-size: 90%;
  font-style: normal;
  padding: 0 5px;
  border-radius: 3px;
  color: #1b1b1b;
}
pre {
  background-color: #282C34 !important;
}

/*//////////////////////////////////////////////*/
/* list */
/*//////////////////////////////////////////////*/

ul,
ol {
  padding: 0 0 0.5em 1.5em;
}
ul > li,
ol > li {
  position: relative;
  list-style: none;
  margin: 5px 0;
}
ul > li::after {
  display: block;
  content: "";
  position: absolute;
  top: 0.5em;
  left: -1em;
  width: 6px;
  height: 6px;
  background-color: rgba(var(--primary), 1);
  border-radius: 100%;
}
ul ul li::after {
  display: block;
  content: "";
  position: absolute;
  top: 0.75em;
  left: -1em;
  width: 6px;
  height: 2px;
  background-color: rgba(var(--primary), 1);
}
ul ul ul li::after {
  display: block;
  content: "";
  position: absolute;
  top: 0.5em;
  left: -1em;
  width: 6px;
  height: 6px;
  border-right: 2px solid rgba(var(--primary), 1);
  border-bottom: 2px solid rgba(var(--primary), 1);
  background-color: inherit;
  border-radius: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* arrow */
ul.arrow > li::after {
  display: block;
  content: "";
  position: absolute;
  top: 0.5em;
  left: -1em;
  width: 6px;
  height: 6px;
  border-right: 2px solid rgba(var(--primary), 1);
  border-bottom: 2px solid rgba(var(--primary), 1);
  background-color: inherit;
  border-radius: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* check */
ul.check > li::after {
  display: block;
  content: "";
  position: absolute;
  top: 0.5em;
  left: -1em;
  width: 8px;
  height: 3px;
  border-left: 2px solid rgba(var(--primary), 1);
  border-bottom: 2px solid rgba(var(--primary), 1);
  background-color: inherit;
  border-radius: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* ol */
ol > li {
  counter-increment: li;
}
ol > li::before {
  content: counter(li);
  display: block;
  position: absolute;
  top: .3em;
  left: -1em;
  color: rgba(var(--primary), 1);
  font-size: 14px;
  line-height: 1;
  font-weight: bold;
}

/*//////////////////////////////////////////////*/
/* table */
/*//////////////////////////////////////////////*/

table {
  border-collapse: collapse;
  border: 1px solid #b7bdbc !important;
  line-height: 1.5;
  margin: 10px 0;
  width: 100%;
}
table th {
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  vertical-align: top;
  text-align: left;
  background: #c6cbca;
  border: 1px solid #b7bdbc !important;
}
table td {
  font-size: 12px;
  padding: 10px;
  vertical-align: top;
  border: 1px solid #b7bdbc !important;
}

/* stripe */
table.stripe tr:nth-child(even) {
  background: #dcdfdf;
}

/* dark th */
table.dark th {
  color: #e5e8e8;
  background: #272b2b;
}

/*//////////////////////////////////////////////*/
/* box */
/*//////////////////////////////////////////////*/

.box_gray {
  background: #dcdfdf;
  border: 2px solid #b8bfbe;
  border-radius: 10px;
  margin: 20px 0;
  padding: 1em;
}

.box_pink {
  background: #e7d5d5;
  border: 2px solid #d47e7e;
  border-radius: 10px;
  margin: 20px 0;
  padding: 1em;
}

.box_pink ul, .box_pink ol {
  padding: 0 0 0 1.5em;
}
.box_pink ol > li::before {
  content: counter(li);
  display: block;
  position: absolute;
  top: .3em;
  left: -1em;
  color: #d47e7e;
  line-height: 1;
  font-weight: bold;
}
.box_pink ul > li::after {
  display: block;
  content: "";
  position: absolute;
  top: 0.5em;
  left: -1em;
  width: 6px;
  height: 6px;
  background-color: #d47e7e;
  border-radius: 100%;
}

.box_gray ul, .box_gray ol {
  padding: 0 0 0 1.5em;
}
.box_gray ol > li::before {
  content: counter(li);
  display: block;
  position: absolute;
  top: .3em;
  left: -1em;
  color: #b8bfbe;
  line-height: 1;
  font-weight: bold;
}
.box_gray ul > li::after {
  display: block;
  content: "";
  position: absolute;
  top: 0.5em;
  left: -1em;
  width: 6px;
  height: 6px;
  background-color: #b8bfbe;
  border-radius: 100%;
}





/*
Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax
base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b
*/

.hljs {
  color: #abb2bf;
  background: #282c34;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: #98c379;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
}
