.toc {
  @apply w-1/5 sticky pl-8 pr-4;
  top: 65px;
  max-height: calc(100vh - 65px);
  ol:first-child {
    @apply pl-4;
    border-left: 1px solid #dadde1;
  }
  li {
    @apply w-full p-2;
  }
  a {
    @apply w-full inline-block;
    line-height: 1.5rem;
    color: #525860;
    &.active {
      @apply font-bold;
      color: #3578e5 !important;
      // color: rgba(var(--primary)) !important;
    }
  }
}
